<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID"
	version="3.1"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
	<display-name>TRKGeneration</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		
	</welcome-file-list>
	<servlet>
		<servlet-name>generatetrk</servlet-name>
		<servlet-class>com.mcx.trk.TRKGenerator</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>generatetrk</servlet-name>
		<url-pattern>/generatetrk</url-pattern>
	</servlet-mapping>
	
</web-app>